.contactForm {
  width: 300px;
  height: 150px;
  font-family: Roboto;
  font-size: 16px;
  background: #f6f6f6;
  border: 1px solid #cecece;
  border-radius: 5px 0 5px 0;
  padding: 20px 15px;
  margin-bottom: 30px;
}

.inputLabel {
  width: 160px;
  height: 45px;
}

.contactForm,
.inputLabel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addButton {
  width: 85px;
  font-size: 12px;
  border-radius: 2px;
}

.input {
  padding: 3px;
  font-size: 12px;
  border-radius: 2px;
}
